<html>
    <head>
        {{>header}}
    </head>
    
<body>

    {{>navbar}}

   
    <div class="box-content pt-16 grid-flow-row mb-28 text-center font-thin lg:text-8xl md:text-7xl text-6xl lg:mx-96 md:mx-52 sm:mx-10">
 Menus

    </div>

    <div class="box-content grid-flow-row text-center lg:mx-auto lg:w-fit px-2 pt-8 md:mx-0 sm:w-full sm:px-0 h-max mb-40">

        <div class="pb-20">
            <a href="/dinner-menu" class="bg-green-600 hover:bg-black text-white font-light text-sm py-10 px-28 rounded">Dinner Menu</a>
        </div>

        <div class="mt-12 mb-12 pb-14 justify-center text-center">
          
            <a href="/lunch-menu" class="bg-green-600 hover:bg-black text-white font-light text-sm py-10 px-28 rounded">
                   Lunch Menu
            </a>
            </div>
        </div>
        
    </body>
    
    {{>footer}}

</html>