<html>
    <head>
        {{>header}}
    </head>
    
<body>

    {{>navbar}}



    <div class="lg:mx-auto lg:w-fit md:mx-0 sm:w-full sm:px-0  overflow-hidden">

         <div class="inline-block justify-center text-center lg:w-1/2 sm:w-fit px-5 lg:px-40 sm:px-2">
            <div class="mt-36 lg:ml-10 sm:ml-5 font-light text-2xl lg:px-40 sm:px-5 float-left relative inline-block"> 
                A Small And Independent Restaurant
                <div class="font-extralight text-xl mt-10 mb-5 sm:text-base">
                From Humble Beginnings, We are a family-owned restaurant that serves a variety of food and drinks.
                We are located in the heart of Glasgow. our extensive menu is made up of a wide range of dishes, from our own unique and local produce to the best of the world. 
                </div>  
            </div>
        </div>

        <div class="justify-center items-center inline">
            <img src="images/image2.jpg" alt="logo" class="lg:w-1/2 sm:w-full mt-0 mr-auto lg:float-right p-14    ">
        </div>
            
         
    
    
        </div> 

    
        <div class="lg:mx-auto lg:w-fit pb-10 md:mx-0 sm:w-full sm:px-0  overflow-hidden">

        
            <div class="inline-block justify-center text-center w-fit px-5 lg:px-40 sm:px-2">
            <div class=" lg:ml-10 sm:ml-5 font-light text-2xl lg:px-40 sm:px-2 "> 
                
                <div class="font-extralight text-xl mt-10 mb-28 sm:text-sm sm:px-1">
                From Humble Beginnings, We are a family-owned restaurant that serves a variety of food and drinks.
                We are located in the heart of Glasgow. our extensive menu is made up of a wide range of dishes, from our own unique and local produce to the best of the world. We pride ourselves in the use of locally sourced produce. All food is made with ingredients that are grown in the same place, at one of our local farms. Our menus have been carefully curated by our chefs to ensure that you get the best experience from our restaurant. Each dish is perfectly picked and refined to the best quality. 
                </div>  
            </div>
        </div>
    
            
                
             
        
        
            </div> 
        
    </body>
    
    {{>footer}}

</html>