<footer class="bg-black text-white text-center align-middle px-20 py-10 pt-10 pb-14">
   <div class="float-left bg-black inline-block"> ASIR </div>
    <div class="float-right inline-block bg-black">
        <a href="/login">Staff Login</a>
    
</footer>   