<html>
    <head>
        {{>header}}
    </head>
    
<body>

    {{>navbar}}

   
    <div class="pt-36 grid-flow-row mb-36 box-content text-center font-thin lg:text-8xl md:text-7xl text-6xl lg:mx-96 md:mx-52 sm:mx-10">
    A Small, Independent Restaurant.

    </div>

    <div class="lg:mx-auto lg:w-fit px-2 pt-14 md:mx-0 sm:w-full sm:px-0 h-max">

        <img src="images/image1.jpg" alt="logo" class="lg:w-1/2 sm:w-full mr-auto lg:float-left ">

        <div class="inline-block justify-center text-center lg:w-1/2 sm:w-fit">
            <div class="mt-28 lg:ml-10 sm:ml-5 font-light text-2xl lg:px-40 sm:px-5"> 
                Priding Ourselves in Locally Sourced Produce
                <div class="font-extralight text-xl mt-10 mb-5 sm:text-base">
               We pride ourselves in the use of locally sourced produce. All food is made with ingredients that are grown in the same place, at one of our local farms.
                </div> 
                <button class="bg-green-600 hover:bg-black text-white font-light text-sm py-2 px-2 rounded" type="submit" value="Login">
                    Read More
                  </button>
            </div>
        </div>

    </div> 

    <div class="lg:mx-auto lg:w-fit md:mx-0 sm:w-full sm:px-0  overflow-hidden">

         <div class="inline-block justify-center text-center lg:w-1/2 sm:w-fit">
            <div class="mt-28 lg:ml-10 sm:ml-5 font-light text-2xl lg:px-40 sm:px-5 float-left relative inline-block"> 
                Carefully Curated Menus
                <div class="font-extralight text-xl mt-10 mb-5 sm:text-base">
                Our menus have been carefully curated by our chefs to ensure that you get the best experience from our restaurant. Each dish is perfectly picked and refined to the best quality. 
                </div>  
                <button class="bg-green-600 hover:bg-black text-white font-light text-sm py-2 px-2 rounded" type="submit" value="Login">
                    See Menu
                  </button>
            </div>
        </div>

        <div class="justify-center items-center inline">
            <img src="images/image2.jpg" alt="logo" class="lg:w-1/2 sm:w-full mt-0 mr-auto lg:float-right ">
        </div>
            
         
    
    
        </div> 

    
        <div class="lg:mx-auto lg:w-fit pb-10 md:mx-0 sm:w-full sm:px-0  overflow-hidden">

            <div class="justify-center items-center">
                <img src="images/image3.jpg" alt="logo" class="lg:w-1/2 sm:w-full mt-0 mr-auto lg:float-left ">
            </div>

            <div class="inline-block justify-center text-center lg:w-1/2 sm:w-fit">
            <div class="mt-28 lg:ml-10 sm:ml-5 font-light text-2xl lg:px-40 sm:px-5"> 
                Small And Independent
                <div class="font-extralight text-xl mt-10 mb-5 sm:text-base">
                From Humble Beginnings, We are a family-owned restaurant that serves a variety of food and drinks.
                We are located in the heart of Glasgow. our extensive menu is made up of a wide range of dishes, from our own unique and local produce to the best of the world. 
                </div>  
                <button class="bg-green-600 hover:bg-black text-white font-light text-sm py-2 px-2 rounded" type="submit" value="Login">
                    Read More
                  </button>
            </div>
        </div>
    
            
                
             
        
        
            </div> 
        
    </body>
    
    {{>footer}}

</html>